.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= t :check_of_knowledge
    .panel-body
      .row
        .col-md-8.card
          = render partial: "review", locals: { card: @card } 
