.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= "Редактирование карточки"
    .panel-body
      .row
        = render partial: "form", locals: { card: @card }
        .col-md-12
          = link_to "Назад", cards_path
