%p Здравствуйте!
%p
  У Вас появились непроверенные карточки.
  Регулярное повторение слов очень важно для изучения иностранного языка.
%p
  Чтобы перейти к проверке карточек, нажмите на эту ссылку:
  = link_to t("site_name"), new_review_url
