.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h3 Восстановление пароля
      .panel-body
        = simple_form_for :reset, url: reset_passwords_path, method: :post do |f|
          = f.input :email, autofocus: true
          = f.button :submit, "Выслать инструкции"
