%nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "#"} Флэшкарточкер
      %div
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} Все карточки
          %li
            %a{href: "#"} Добавить карточку
